h1 {
    font-family: 'DynaPuff', cursive;
    text-align: center;
}
.google-maps-locator-icon {
    /* background-image: url(../images/google-maps-locator-icon.png); */
    height: 40px;
    width: 25px;
}
.hidden {
    display: none;
}
.visible {
    display: visible;
}
.searchBtn-zip-code {
    width: 125px;
    height: 50px;
}
.google-maps-rendered-image {
    height: 500px;
}
.loader-wrapper {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.loader-wrapper .loader {
    height: 80px;
    width: 80px;
    border: 2px solid #00d1b2;
    border-right-color: transparent;
    border-top-color: transparent;
}
.loader-wrapper.is-active {
    opacity: 1;
    z-index: 1;
}
.modal-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-card .card-image {
    max-height: 400px;
    overflow: hidden;
    margin-top: -50px;
}
.modal-card .card-image figure {
    position: relative;
}
.modal-card .card-image figure button {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 2;
}
.delete {
    background: #fff;
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
}
.delete:hover {
    background: #ddd;
}
.delete::after,
.delete::before {
    background-color: #444;
}
.modal-card-body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
