:root {
    --lightGrey: #dddddd;
    --tealGreen: #00d1b2;
    --dark: #444444;
    --white: #ffffff;
}
h1 {
    font-family: 'DynaPuff', cursive;
    text-align: center;
}
h1::before {
    display: inline-block;
    content: ' ';
    background-image: url('../images/recipe-patch-logo.svg');
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    margin-bottom: -18px;
}
@media all and (max-width: 768px) {
    h1::before {
        background-size: 60px 60px;
        width: 60px;
        height: 60px;
        margin-bottom: -14px;
    }
}
.hidden {
    display: none;
}
.visible {
    display: visible;
}
.loader-wrapper {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.loader-wrapper .loader {
    height: 80px;
    width: 80px;
    border: 2px solid var(--tealGreen);
    border-right-color: transparent;
    border-top-color: transparent;
}
.loader-wrapper.is-active {
    opacity: 1;
    z-index: 1;
}
.modal-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-card .card-image {
    max-height: 400px;
    overflow: hidden;
    margin-top: -50px;
}
.modal-card .card-image figure {
    position: relative;
}
.modal-card .card-image figure button {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 2;
}
.delete {
    background: var(--white);
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
}
.delete:hover {
    background: var(lightGrey);
}
.delete::after,
.delete::before {
    background-color: var(--dark);
}
.modal-card-body h4 {
    border-bottom: 1px solid var(lightGrey);
}
.modal-card-body ul {
    list-style: none;
}
.modal-card-body.content ul {
    margin-left: 1em;
}
.modal-card-body ul li::before {
    content: '\2022';
    color: var(--tealGreen);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -0.8em;
    font-size: 1.25em;
}
ul.shopping-list-area {
    margin: 0;
}
ul.shopping-list-area li:not(:last-child) {
    position: relative;
    padding-right: 30px;
    margin-bottom: 1em;
}
ul.shopping-list-area li button {
    position: absolute;
    top: 0;
    right: 0;
}
.shopping-list-area,
.shopping-list-item,
.content-ul {
    list-style-type: none;
    margin-left: 0px;
}
.shopping-list-item::before {
    content: '✧ ';
}
.searchBtn-googlemaps,
.start-overBtn {
    width: 100%;
}
